body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif ;
  }
  
  .login-container {
    background-image: url('1.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container .logo {
    font-size: 28px;
    font-weight: bold; /* Negritas */
    text-transform: uppercase; /* Mayúsculas */
    color: black;
    margin-bottom: 20px;
    margin-bottom: 40px;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    font-weight: bold;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }