body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .product-description {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    display: flex;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .product-details {
    flex: 2;
    padding: 20px;
  }
  
  .product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-details .price {
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .product-details label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .product-details select {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  .product-details button,
  .product-details .back-to-home {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .product-details .back-to-home {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
  }
  
  .product-details .back-to-home:hover {
    background-color: #e53935;
  }
  